.article__content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article__q-a {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & p {
    white-space: pre-line;
  }
}
