.article {
  &__container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__question {
    margin-bottom: 1rem;
  }

  &__answer {
    white-space: pre-line;
  }
}
