.about {
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    text-align: center;
  }

  &__media {
    text-align: center;

    &--image {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    text-align: center;
    white-space: pre-line;
  }
}

@media (min-width: 62em) {
  .about__media--image {
    width: 75%;
    height: auto;
  }
}
