.suggested-reading {

    &__intro {
        margin: 30px 0px 15px 0px;
    }


    &__issue-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
        margin-bottom: 15px;
    }
    
    &__cover-img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    &__issue {
        max-height: 100%;
        grid-column: span 6;
        grid-row: span 1;
    }
}


@media (min-width: 768px) {
    .suggested-reading {
        &__issue {
            grid-column: span 2;
        }
    }

}

@media (min-width: 992px) {

    .suggested-reading {
        &__issue {
            grid-column: span 2;
        }
        &__cover-img {
            width: 75%;
            height: auto;
        }
    }

}

@media (min-width: 1200px) {

}

