.route-article {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__subtitle {
    color: var(--grey);
    font-style: italic;
    font-weight: 400;
  }

  &__stop-list {
    margin: 0 auto;
    font-size: 1.6rem;
  }

  &__stop-item {
    &:not(:last-child) {
      margin: 0.5rem 0;
    }
  }
}
