.route-article {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__intro {
    text-align: center;
  }

  &__subtitle {
    color: rgb(61, 61, 61);
    margin-top: 2rem;
  }

  &__stop-list {
    margin: 0 auto;
    font-size: 1.6rem;
  }
}

.stop-list {
  &__link {
    margin: 1rem 0;
  }
}
