.cover {
  &__container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  &__image {
    height: auto;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }

  &__title {
    text-transform: capitalize;
  }

  &__subtitle {
    font-size: 2.2rem;
  }
}
