  .holder {
    background:#26272b;
  }
  .footer {
    color: rgb(195, 195, 195);
    display: grid;
    max-width: 1150px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "about about"
    "categories quicklinks"
    "copyright copyright"
    "social social";
    padding-top: 45px;
    margin: 0 auto;

    a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1em;
    }

    & h3 {
        color: #fff;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &__about {
        grid-area: about;
        padding: 0 15px;
        text-align: justify;
        margin-bottom: 30px;
    }

    &__categories {
        grid-area: categories;
        margin-bottom: 30px;
        padding: 0 15px;

        &-list {
            list-style-type: none;
        }

        &-item-link {
        color: rgb(195, 195, 195);
        text-decoration: none;
    }
    }

    &__quick-links {
    grid-area: quicklinks;
    margin-bottom: 30px;
    padding: 0 15px;

    &-list {
    list-style-type: none;
    }

    &-item-link {
        color: rgb(195, 195, 195);
        text-decoration: none;
    }


    }

    &__copyright {
        grid-area: copyright;
        text-align: center;
    }

    &__social {
        grid-area: social;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 10px;
        
        &-item {
            padding: 20px 0;
        }

        &-img {
            width: 30px;
            height: 30px;
        }
    }
  }


  @media (min-width: 768px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "about about"
        "categories quicklinks"
        "copyright social";
        padding: 45px;

        &__categories {
            justify-self: start;
            padding-left: 15px;
        }

        &__quick-links {
            justify-self: start;
        }

        &__copyright {
            text-align: left;
            padding-left: 15px;
            align-self: center;
        }

        &__social {
            justify-self: end;

            &-img {
                margin-left: 15px;
            }
        }
    }

  }
  @media (min-width: 992px) {

    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "about about categories quicklinks"
        "copyright copyright social social";
        padding: 10px;
        padding-top: 45px;

        &__copyright {
            align-self: center;
        }
    }

    
  }
  @media (min-width: 1200px) {

  }