.suggested-reading {
  margin: 2rem 0;
  &__intro {
    margin: 3rem 0 1.5rem 0;
  }

  &__issue-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__cover-img {
    width: 100%;
    max-width: 30rem;
    height: auto;
    object-fit: fill;
  }
}

@media only screen and (min-width: 48em) {
  .suggested-reading {
    &__cover-img {
      max-width: 20rem;
    }
  }
}
@media only screen and (min-width: 62em) {
  .suggested-reading {
    &__cover-img {
      max-width: 25rem;
    }
  }
}

@media only screen and (min-width: 75em) {
  .suggested-reading {
    &__cover-img {
      max-width: 18rem;
    }
  }
}
