.article__contact-section {
    margin: 30px 0 20px 0;
    &-title {
        
    }
    
    &-list {
        text-align: center;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-top: 10px;

        &-link {
            text-transform: capitalize;
            color: #ED1C22;
            text-decoration: none;
        }

        &-item {
            margin-top: 5px;
        }
    }
}

@media (min-width: 768px) {
    .article__contact-section-list {
        flex-direction: row;
        justify-content: space-evenly;

        &-item {
            margin-left: 10px;
        }
    }
    
}
