// X-Small and Small screens

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  body {
    background: #fff;   
}

    .header-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__item--side-1 {
            display: none;
        }

        &__item--side-2 {
            display: none;
        }
    }


  
  // Medium Screens
  @media (min-width: 768px) {
    body {
        background: #666;
    }

    .container {
      width: 750px;
    }

    .header-gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 10vw);
        grid-gap: 5px;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__item--main {
            grid-column: 1/9;
            grid-row: 1/6;

            &:hover {
                opacity: 0.7;
            }
        }

        &__item--side-1 {
            display: grid;
            grid-column: 1/5;
            grid-row: 6/9;

            &:hover {
                opacity: 0.7;
            }
        }

        &__item--side-2 {
            display: grid;
            grid-column: 5/9;
            grid-row: 6/9;

            &:hover {
                opacity: 0.7;
            }

            
        }
    }

  }

  // Large Screens
  @media (min-width: 992px) {
    body {
        background: #6666;
    }

    .container {
      width: 970px;
    }

    .header-gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 5px;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__item--main {
            grid-column: 1/6;
            grid-row: 1/9;
        }

        &__item--side-1 {
            grid-column: 6/9;
            grid-row: 1/5;
        }

        &__item--side-2 {
            grid-column: 6/9;
            grid-row: 5/9;
        }
    }

    
  }


  // Extra Large Screens
  @media (min-width: 1200px) {

    body {
        background: #444;
    }

    .container {
      width: 1170px;
    }

  }