.legacy-page {
  &__container {
    margin: 12rem 0 1.5px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(0px, auto));
    grid-template-areas:
      "intro"
      "article"
      "routes"
      "contact";

    @media only screen and (min-width: 62em) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "intro article"
        ". contact"
        "routes routes";
    }
  }

  &__cover {
    grid-area: intro;
  }

  &__bio {
    grid-area: article;
  }

  &__contact {
    grid-area: contact;
  }

  &__routes {
    grid-area: routes;
  }

  &__article {
    grid-area: article;
  }
}
