.navbar {
  height: auto;
  width: 100%;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;

  background: #fff;
  box-shadow: 0 0.2rem 0.6rem -0.6rem #999;

  &__content {
    width: 100%;
    max-width: 117rem;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-container {
    width: max-content;
    height: max-content;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: rgb(44, 44, 44);

    &:hover {
      font-weight: 500;
    }
  }

  &__link-list {
    height: 92vh;
    width: max-content;
    padding: 0 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    right: 0px;
    top: 8vh;
    transform: translateX(100%);

    background: white;
    list-style-type: none;

    transition: transform 0.5s ease-in;
  }

  &__burger {
    display: block;
    cursor: pointer;

    & div {
      width: 2.5rem;
      height: 0.3rem;
      background: black;
      margin: 0.5rem;
      transition: all 0.3s ease;
    }
  }
}

@media only screen and (min-width: 62em) {
  .navbar {
    &__burger {
      display: none;
    }

    &__link-list {
      height: min-content;
      width: max-content;

      display: flex;
      flex-direction: row;
      gap: 4rem;

      position: relative;
      top: 0;
      transform: translateX(0);
    }
  }
}

.nav-active {
  transform: translateX(0%);

  .navbar__burger--line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .navbar__burger--line2 {
    opacity: 0;
  }
  .navbar__burger--line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
