.article {
  &__contact-section {
    margin: 3rem 0;
  }

  &__contact-list {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    list-style-type: none;
  }

  &__contact-section-list-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #ef1e25;
    font-weight: 600;
    text-transform: capitalize;
  }
}

@media (min-width: 48em) {
  .article {
    &__contact-list {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
