.contact {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
  }

  &__input-text-area {
    height: 10rem;
    width: 100%;
    padding: 1rem;

    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;

    border: none;
    border-bottom: 1px solid #e6e6e6;
  }

  &__input-submit {
    padding: 1.5rem 4rem;

    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;

    background-color: #ea212c;
    border: none;
    border-radius: 2px;
    color: #fff;
  }
}
