.issue {
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "intro"
      "article"
      "contact";

    @media only screen and (min-width: 56.25em) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "intro article"
        "intro article"
        ". contact";
      gap: 5rem;
    }
  }

  &__cover {
    grid-area: intro;
  }

  &__interview {
    grid-area: article;
  }

  &__contact {
    grid-area: contact;
  }
}
